.List {
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  padding-left: 1vw;
}

.List_Item {
  list-style: none;
}
.List_Item:hover {
  color: orange;
}

.Link {
  text-decoration: none;
  color: black;
  transition: color 250ms ease;
}

.Link:hover {
  color: orange;
}
.Tittle {
  font-size: 15px;
}
.Img {
  width: 320px;
}
